In [1]:
import numpy as np
import pandas as pd

In [2]:
lowcat = 'C:/Users/Peter/py_projects/solar_stats/helcats_lowcat_data/lowcat.json'
df = pd.read_json(lowcat)

In [4]:
pd.options.display.max_columns = None
display(df)

,HEL_ID,HI_SC,HI_TIME,HI_PAN,HI_PAS,COR2_TS,COR2_TF,COR2_TIME,COR2_PA,COR2_WIDTH,COR2_V,COR2_VSIGMA,COR2_VMIN,COR2_VMAX,COR2_TYPE,COR2_HALO,FL_TS,FL_TF,FL_TYPE,FL_STARTTIME,FL_ENDTIME,FL_PEAKTIME,FL_GOES,FL_LOC,SRS_TIME,SRS_NO,SRS_LOC,SRS_MCINTOSH,SRS_HALE,SRS_AREA,SRS_LL,SRS_NN,SMART_TIME,SMART_HGLATLON,SMART_LIMB,SMART_TOTFLX,SMART_POSFLX,SMART_NEGFLX,SMART_FRCFLX,SMART_TOTAREA,SMART_POSAREA,SMART_NEGAREA,SMART_BMIN,SMART_BMAX,SMART_BMEAN,SMART_PSLLEN,SMART_RVALUE,SMART_WLSG,SMART_BIPOLESEP
0,HCME_B__20070415_01,B,2007-04-15 04:10:00,285,245,14-Apr-2007 15:17:00.000,15-Apr-2007 02:52:42.000,14-Apr-2007 16:38:04.702,263,16,240,7,227,245,Flow,,14-Apr-2007 15:11:12.202,14-Apr-2007 16:16:21.577,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HCME_A__20070417_01,A,2007-04-17 16:50:00,105,125,17-Apr-2007 03:57:00.000,17-Apr-2007 15:32:42.000,17-Apr-2007 04:37:30.006,117,12,271,8,265,284,CME,,17-Apr-2007 03:10:37.506,17-Apr-2007 04:15:46.881,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,HCME_A__20070419_01,A,2007-04-19 13:30:00,40,140,19-Apr-2007 00:37:00.000,19-Apr-2007 12:12:42.000,19-Apr-2007 00:37:30.007,101,48,227,86,107,367,CME,,18-Apr-2007 23:10:37.507,19-Apr-2007 00:15:46.882,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,HCME_A__20070502_01,A,2007-05-02 00:50:00,65,100,1-May-2007 11:57:00.000,1-May-2007 23:32:42.000,1-May-2007 12:37:30.005,94,10,271,16,245,284,CME,,1-May-2007 11:10:37.505,1-May-2007 12:15:46.880,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,HCME_B__20070503_01,B,2007-05-03 16:50:00,325,280,3-May-2007 03:57:00.000,3-May-2007 15:32:42.000,3-May-2007 04:08:12.281,295,8,240,20,211,265,CME,,3-May-2007 02:41:19.781,3-May-2007 03:46:29.156,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,HCME_A__20170120_01,A,2017-01-20 00:49:00,250,300,19-Jan-2017 11:56:00.000,19-Jan-2017 23:31:42.000,19-Jan-2017 13:54:00.005,270,50,337,127,227,625,CME,,19-Jan-2017 12:27:07.505,19-Jan-2017 13:32:16.880,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016,HCME_A__20170128_01,A,2017-01-28 16:49:00,230,300,28-Jan-2017 03:56:00.000,28-Jan-2017 15:31:42.000,28-Jan-2017 07:54:00.006,265,8,171,17,162,201,CME,,28-Jan-2017 06:27:07.506,28-Jan-2017 07:32:16.881,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017,HCME_A__20170202_01,A,2017-02-02 02:09:00,295,330,1-Feb-2017 13:16:00.000,2-Feb-2017 00:51:42.000,1-Feb-2017 19:54:00.006,311,8,431,0,431,431,Flow,,1-Feb-2017 18:27:07.506,1-Feb-2017 19:32:16.881,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018,HCME_A__20170220_01,A,2017-02-20 11:29:00,285,315,19-Feb-2017 22:36:00.000,20-Feb-2017 10:11:42.000,,0,0,0,0,0,0,,,19-Feb-2017 21:09:07.500,19-Feb-2017 22:14:16.875,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2019,HCME_A__20170226_01,A,2017-02-26 12:49:00,240,310,25-Feb-2017 23:56:00.000,26-Feb-2017 11:31:42.000,26-Feb-2017 08:54:00.016,263,44,378,48,284,480,CME,,26-Feb-2017 07:27:07.516,26-Feb-2017 08:32:16.891,,,,,,,,0,,,,0,0,0,,,,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
len(df.columns)

49

In [4]:
tot_count = df.isnull().sum().sum()
print('Dataframe NaN count: ' + str(tot_count))

Dataframe NaN count: 0

In [5]:
# Are NaNs labelled as zeros in LOWCAT?
tot = (df == 0).astype(int).sum(axis=0)
sum(tot)

30424

In [6]:
x = (2020*49) 
y = x - sum(tot)
print(x)
print(y)

98980
68556