## Correcting some columns without removing data

In [1]:
# Packages
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# Defining the path for the dataframe
dataframe = 'C:/Users/Peter/py_projects/solar_stats/cdaw_cme_flare_ar_smart_database.p'

# Importing the dataframe 
df = pd.read_pickle(dataframe)

### GOES flux

In [3]:
# Splitting goes_class column into 2 so as to separate the class form the flux value

""" The pattern ([a-zA-Z]+)([^a-zA-Z]+) means match a group of letters: ([a-zA-Z]+) followed by a group 
    of non letters: ([^a-zA-Z]+) """

glux = df.flare_goes_class.str.extract('([a-zA-Z]+)([^a-zA-Z]+)', expand=True)
glux.columns = ['goes_class', 'goes_flux']

# Adding new class column into df 
df['goes_class'] = glux['goes_class']

In [4]:
# Want to see which catalogues the errors are coming from
glux['flare_type'] = df['flare_type'].values

# Setting the NaNs to zeros for the time being
glux = glux.fillna(0)

In [5]:
# Checking which values need correcting
print(glux.goes_flux[pd.to_numeric(glux.goes_flux, errors='coerce').isnull()])

5433      7,4
5434      7,4
5585     6.1*
5640     2.6*
5641     2.6*
         ...
28147    2.3*
28330    2.8*
28568    1.4*
28675    1.4*
28723    1.1*
Name: goes_flux, Length: 331, dtype: object

In [6]:
check = glux[pd.to_numeric(glux.goes_flux, errors='coerce').isnull()]
check

      goes_class goes_flux flare_type
5433           C       7,4       swpc
5434           C       7,4       swpc
5585           C      6.1*     rhessi
5640           M      2.6*     rhessi
5641           M      2.6*     rhessi
...          ...       ...        ...
28147          B      2.3*     rhessi
28330          B      2.8*     rhessi
28568          C      1.4*     rhessi
28675          C      1.4*     rhessi
28723          C      1.1*     rhessi

[331 rows x 3 columns]

In [7]:
check['flare_type'].value_counts().to_dict()

{'rhessi': 329, 'swpc': 2}

In [8]:
# Getting rid of the asterisks
glux.goes_flux = glux.goes_flux.replace('\*','',regex=True)

In [9]:
# Checking what else needs to be corrected
print(glux.goes_flux[pd.to_numeric(glux.goes_flux, errors='coerce').isnull()])

5433    7,4
5434    7,4
Name: goes_flux, dtype: object

In [10]:
# Okay, replacing the commas with periods
glux.goes_flux = glux.goes_flux.replace('\,','.',regex=True)

In [11]:
# Should be all?
print(glux.goes_flux[pd.to_numeric(glux.goes_flux, errors='coerce').isnull()])

Series([], Name: goes_flux, dtype: object)

In [12]:
# Converting to a float for future use
glux.goes_flux = glux.goes_flux.astype(float)

In [13]:
glux

      goes_class  goes_flux flare_type
0              0        0.0          0
1              0        0.0          0
2              0        0.0          0
3              0        0.0          0
4              0        0.0          0
...          ...        ...        ...
30223          0        0.0          0
30224          0        0.0          0
30225          0        0.0          0
30226          0        0.0          0
30227          0        0.0          0

[30228 rows x 3 columns]

In [14]:
# Now multiplying the flux values by the relevant power for its GOES class
glux.loc[glux.goes_class == 'A', 'goes_flux'] *= 1e-8
glux.loc[glux.goes_class == 'B', 'goes_flux'] *= 1e-7
glux.loc[glux.goes_class == 'C', 'goes_flux'] *= 1e-6
glux.loc[glux.goes_class == 'M', 'goes_flux'] *= 1e-5
glux.loc[glux.goes_class == 'X', 'goes_flux'] *= 1e-4

In [15]:
# Now let's replace the NaNs 
glux.goes_flux = glux.goes_flux.replace({0:np.nan})
glux.goes_class = glux.goes_class.replace({0:np.nan})
glux.flare_type = glux.flare_type.replace({0:np.nan})

In [16]:
glux

      goes_class  goes_flux flare_type
0            NaN        NaN        NaN
1            NaN        NaN        NaN
2            NaN        NaN        NaN
3            NaN        NaN        NaN
4            NaN        NaN        NaN
...          ...        ...        ...
30223        NaN        NaN        NaN
30224        NaN        NaN        NaN
30225        NaN        NaN        NaN
30226        NaN        NaN        NaN
30227        NaN        NaN        NaN

[30228 rows x 3 columns]

In [17]:
df

,cme_time,cme_angle,cme_width,cme_speed,initial_2nd_order,final_2nd_order,20r_2nd_order,cme_acceleration,cme_mass,cme_kinetic_energy,...,smart_psl_length,smart_r_value,smart_b_max,smart_b_min,smart_observation_time,smart_string_latlon,smart_total_area,smart_negative_area,smart_hg_longitude,goes_class
0,1996-08-01 12:36:35,274.0,35.0,499.0,451.0,551.0,615.0,7.4,2.6e+14,3.2e+29,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,1996-08-01 18:12:21,210.0,82.0,118.0,94.0,142.0,324.0,4.0,9.8e+13,6.8e+27,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2,1996-08-03 19:45:37,231.0,26.0,71.0,59.0,84.0,128.0,0.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
3,1996-08-07 13:15:05,242.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,1996-08-10 09:25:05,68.0,68.0,148.0,133.0,164.0,201.0,1.0,4.6e+14,5.0e+28,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30223,2020-05-29 11:24:05,84.0,52.0,347.0,406.0,288.0,0.0,-21.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
30224,2020-05-29 15:12:05,83.0,46.0,204.0,215.0,193.0,0.0,-2.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
30225,2020-05-29 17:36:05,76.0,34.0,210.0,295.0,120.0,0.0,-19.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
30226,2020-05-30 01:25:43,80.0,39.0,269.0,203.0,339.0,331.0,2.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
30227,2020-05-30 08:48:05,259.0,23.0,146.0,107.0,180.0,399.0,6.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [18]:
# Adding the new goes_flux column into the database
df['goes_flux'] = glux.goes_flux

In [19]:
df['goes_flux']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
30223   NaN
30224   NaN
30225   NaN
30226   NaN
30227   NaN
Name: goes_flux, Length: 30228, dtype: float64

### SRS Hale Classes

In [20]:
# Need to group Beta and BETA together, etc.
df['srs_hale'].replace({"ALPHA": 1, "Alpha": 1, 
                         "BETA": 2, "Beta": 2, 
                         "BETA-GAMMA": 3, "Beta-Gamma": 3, 
                         "BETA-DELTA": 4, "Beta-Delta": 4, 
                         "BETA-GAMMA-DELTA": 5, "Beta-Gamma-Delta": 5,
                         "GAMMA-DELTA": 6, "Gamma-Delta": 6,}, inplace=True)

In [21]:
df['srs_hale']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
30223   NaN
30224   NaN
30225   NaN
30226   NaN
30227   NaN
Name: srs_hale, Length: 30228, dtype: float64

### CME halo

In [22]:
# Replacing the non-numeric hale classes with numeric values
df['cme_halo'].replace({"I": "1", "II": "2", "III": "3", "IV": "4"}, inplace=True)
df['cme_halo'] = df['cme_halo'].astype(float)

In [23]:
df['cme_halo']

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
30223    1.0
30224    1.0
30225    1.0
30226    1.0
30227    1.0
Name: cme_halo, Length: 30228, dtype: float64

### Blank Entries

In [24]:
pd.set_option('display.max_rows', 10) #for all rows --> None
print((df == '').sum(axis=0))
sum((df == '').sum(axis=0))

cme_time               0
cme_angle              0
cme_width              0
cme_speed              0
initial_2nd_order      0
                      ..
smart_total_area       0
smart_negative_area    0
smart_hg_longitude     0
goes_class             0
goes_flux              0
Length: 61, dtype: int64

9195

#### Blanks:
- cme_mass: 1
- cme_kinetic_energy: 1
- cme_remarks: 9193

In [25]:
# Replacing blanks with NaNs
df.cme_mass = df.cme_mass.replace({'':np.nan})
df.cme_remarks = df.cme_remarks.replace({'':np.nan})
df.cme_kinetic_energy = df.cme_kinetic_energy.replace({'':np.nan})

In [26]:
# This should be zero now
sum((df == '').sum(axis=0))

0

### Reformatting some dtypes for ease of use during the project

In [27]:
df['srs_area'] = df['srs_area'].astype(float)
df['cme_mass'] = df['cme_mass'].astype(float)
df['srs_no_spots'] = df['srs_no_spots'].astype(float)
df['smart_total_flux'] = df['smart_total_flux'].astype(float)
df['cme_kinetic_energy'] = df['cme_kinetic_energy'].astype(float)
df['smart_positive_flux'] = df['smart_positive_flux'].astype(float)
df['smart_negative_flux'] = df['smart_negative_flux'].astype(float)

### NOTE: there are many zero values

In [33]:
pd.set_option('display.max_rows', 10) #for all rows --> None
print(sum((df == 0).sum(axis=0)))
(df == 0).sum(axis=0)

#.value_counts().to_dict()

8262

cme_time                 0
cme_angle               48
cme_width                0
cme_speed                0
initial_2nd_order      846
                      ...
smart_total_area         0
smart_negative_area      4
smart_hg_longitude       1
goes_class               0
goes_flux                0
Length: 61, dtype: int64

#### Zero's that don't really make sense:
- initial 2nd order: 846
- final 2nd order: 88
- SRS area: 40
- SMART flux frac: 172
- SMART WLSG: 91
- SMART PSL: 122

Total = 1359

Just going to remove those I am 100% sure about

In [33]:
# SRS area
(df.srs_area == 0).astype(float).sum(axis=0)

40.0

In [34]:
# Setting the zero values as NaNs 
df.srs_area = df.srs_area.replace({0:np.nan})

# Checking
(df.srs_area == 0).astype(float).sum(axis=0)

0.0

In [35]:
# WLSG and PIL --> decided to leave the 91 (WLSG) and 122 (PIL) zero values as there's issues with these properties

"""
# WLSG 
(df.smart_wlsg == 0).astype(float).sum(axis=0)
df.smart_wlsg = df.srs_area.replace({0:np.nan})

# PIL 
(df.smart_psl_length == 0).astype(float).sum(axis=0)
df.smart_psl_length = df.srs_area.replace({0:np.nan})
"""

91.0

## Fixing the issue with the LMSAL entries in the flare_end_time column

In [35]:
# Getting columns I want
df1 = df[['flare_start_time', 'flare_end_time']]
df1 = df1.dropna(how='any')
df1 = df1.reset_index()

In [36]:
def calculate_flare_duration(data_start, data_end):
    """Get flare duration in minutes"""
    data_out = data_end - data_start
    for i in range(len(data_out)):
        try:
            data_out[i] = (data_out[i]).total_seconds()/60.
        except AttributeError:
            continue
    return data_out

In [37]:
# Finding the duration of the flares
durations = calculate_flare_duration(df1['flare_start_time'], df1['flare_end_time'])

In [38]:
# Finding out how many are negative
print((durations < 0).astype(int).sum(axis=0))
print((durations > 0).astype(int).sum(axis=0))

784
15768

In [39]:
# Making a list of the indicies for the incorrect entries 
wrong_ind = df1.index[durations < 0].tolist()

In [40]:
# Checking that the length matches up
len(wrong_ind)

784

In [41]:
# Checking which database the wrong entries come from
nd = df[['flare_start_time', 'flare_end_time', 'flare_type']]
nd = nd.dropna(how='any')
nd = nd.reset_index(drop=True)

In [42]:
# Making a df containing the indicies of the incorrect entries
wrong_db = nd.iloc[wrong_ind, :]
wrong_db

         flare_start_time      flare_end_time flare_type
2860  2002-10-13 23:42:00 2002-10-13 01:08:00      lmsal
2861  2002-10-13 23:42:00 2002-10-13 01:08:00      lmsal
2862  2002-10-13 23:42:00 2002-10-13 01:08:00      lmsal
2863  2002-10-14 14:45:00 2002-10-14 04:55:00      lmsal
2871  2002-10-16 22:20:00 2002-10-16 01:00:00      lmsal
...                   ...                 ...        ...
16476 2018-05-03 23:59:00 2018-05-03 00:16:00      lmsal
16494 2019-01-03 20:49:00 2019-01-03 04:16:00      lmsal
16516 2019-04-12 22:36:00 2019-04-12 00:30:00      lmsal
16544 2019-05-08 23:45:00 2019-05-08 00:08:00      lmsal
16545 2019-05-08 23:45:00 2019-05-08 00:08:00      lmsal

[784 rows x 3 columns]

In [43]:
# Checking what databases are giving the wrong entries
ct = wrong_db['flare_type'].value_counts().to_dict()
ct

{'lmsal': 784}

In [44]:
# Okay, now let's ttry to replace the incorrect values
df1['index']

0           70
1           71
2           72
3           79
4           80
         ...
16547    29698
16548    29713
16549    29773
16550    29785
16551    29951
Name: index, Length: 16552, dtype: int64

In [45]:
# Putting the ORIGINAL indices of the wrong entries into a list
correct_ind = df1['index'].iloc[wrong_ind].tolist()
correct_ind

[6759,
 6760,
 6761,
 6762,
 6773,
 6792,
 6914,
 6917,
 6932,
 6933,
 6934,
 6936,
 6937,
 7023,
 7024,
 7027,
 7052,
 7053,
 7059,
 7166,
 7342,
 7344,
 7350,
 7362,
 7406,
 7407,
 7409,
 7415,
 7416,
 7417,
 7418,
 7504,
 7505,
 7508,
 7509,
 7531,
 7728,
 7736,
 7737,
 7782,
 7795,
 7819,
 7827,
 7845,
 7865,
 7866,
 7868,
 7921,
 8002,
 8003,
 8004,
 8005,
 8044,
 8045,
 8153,
 8154,
 8676,
 8743,
 8744,
 8765,
 8769,
 8770,
 8779,
 8825,
 8900,
 8902,
 8911,
 8915,
 8917,
 8961,
 8962,
 8963,
 8998,
 9000,
 9001,
 9002,
 9015,
 9065,
 9066,
 9067,
 9068,
 9071,
 9131,
 9245,
 9246,
 9247,
 9252,
 9253,
 9262,
 10610,
 10613,
 10614,
 10615,
 10830,
 10831,
 10872,
 10873,
 10951,
 10952,
 10953,
 11140,
 11141,
 11142,
 11143,
 11144,
 11145,
 11208,
 11209,
 11210,
 11273,
 11274,
 11275,
 11277,
 11278,
 11279,
 11296,
 11324,
 11325,
 11328,
 11339,
 11340,
 11342,
 11355,
 11356,
 11357,
 11358,
 11359,
 11360,
 11367,
 11368,
 11369,
 11590,
 11669,
 11670,
 11671,
 11672,
 11673,
 11674,
 11696,
 11697,
 12109,
 12110,
 12111,
 12112,
 12113,
 12114,
 12115,
 12273,
 12274,
 12275,
 12277,
 12278,
 12280,
 12281,
 12282,
 13016,
 13218,
 14455,
 14457,
 14669,
 14690,
 14691,
 14692,
 14791,
 14792,
 14852,
 14855,
 14908,
 15157,
 15158,
 15159,
 15160,
 15161,
 15162,
 15197,
 15214,
 15318,
 15320,
 15543,
 15545,
 15546,
 15573,
 15574,
 15576,
 15687,
 15688,
 15739,
 15740,
 15741,
 15810,
 15812,
 15813,
 15815,
 15816,
 15916,
 15961,
 15971,
 15972,
 15973,
 15974,
 16483,
 16485,
 16486,
 16487,
 16488,
 16489,
 16490,
 16491,
 16670,
 16672,
 16675,
 16755,
 16762,
 16775,
 16776,
 16780,
 16781,
 16782,
 16783,
 16798,
 16799,
 16800,
 16801,
 16802,
 16827,
 16828,
 16829,
 16950,
 17033,
 17037,
 17056,
 17057,
 17060,
 17102,
 17152,
 17153,
 17154,
 17156,
 17157,
 17260,
 17261,
 17262,
 17263,
 17264,
 17265,
 17266,
 17267,
 17289,
 17290,
 17291,
 17292,
 17294,
 17295,
 17296,
 17496,
 17498,
 17502,
 17533,
 17534,
 17535,
 17536,
 17540,
 17639,
 17652,
 17654,
 17655,
 17663,
 17670,
 17854,
 17855,
 17856,
 17859,
 17860,
 17863,
 17864,
 17866,
 17867,
 17868,
 17881,
 17882,
 17884,
 17885,
 18220,
 18221,
 18222,
 18224,
 18337,
 18339,
 18340,
 18341,
 18342,
 18422,
 18447,
 18448,
 18449,
 18481,
 18482,
 18483,
 18635,
 18641,
 18645,
 18649,
 18650,
 18714,
 18716,
 18717,
 18780,
 18819,
 18827,
 18841,
 18842,
 18846,
 18888,
 18890,
 18891,
 18892,
 18939,
 18940,
 18941,
 18942,
 18943,
 18944,
 18997,
 19001,
 19002,
 19004,
 19007,
 19378,
 19379,
 19581,
 19582,
 19583,
 19584,
 19585,
 19684,
 19686,
 19687,
 19688,
 19690,
 19878,
 19879,
 19880,
 19881,
 19882,
 19983,
 19984,
 19985,
 19986,
 19988,
 19989,
 19990,
 19991,
 20013,
 20220,
 20222,
 20223,
 20232,
 20233,
 20234,
 20235,
 20236,
 20237,
 20238,
 20253,
 20255,
 20437,
 20438,
 20439,
 20440,
 20441,
 20442,
 20444,
 20509,
 20510,
 20511,
 20512,
 20554,
 20555,
 20556,
 20557,
 20558,
 20559,
 20560,
 20561,
 20576,
 20578,
 20579,
 20580,
 20738,
 20739,
 20740,
 20741,
 20742,
 20743,
 21040,
 21041,
 21042,
 21043,
 21088,
 21089,
 21090,
 21091,
 21092,
 21152,
 21231,
 21233,
 21235,
 21248,
 21250,
 21251,
 21252,
 21253,
 21304,
 21305,
 21306,
 21308,
 21432,
 21434,
 21435,
 21463,
 21464,
 21465,
 21466,
 21467,
 21490,
 21491,
 21492,
 21493,
 21494,
 21613,
 21623,
 21624,
 21625,
 21626,
 21627,
 21676,
 21677,
 21678,
 21679,
 21680,
 21682,
 21685,
 21686,
 21699,
 21700,
 21701,
 21702,
 21703,
 21704,
 21705,
 22043,
 22044,
 22045,
 22047,
 22104,
 22105,
 22106,
 22107,
 22108,
 22222,
 22350,
 22351,
 22382,
 22386,
 22387,
 22388,
 22390,
 22391,
 22399,
 22401,
 22402,
 22403,
 22404,
 22495,
 22496,
 22497,
 22503,
 22511,
 22513,
 22630,
 22631,
 22633,
 22634,
 22635,
 22730,
 22731,
 22732,
 22748,
 22751,
 22752,
 22755,
 22831,
 22837,
 22838,
 22918,
 22920,
 22946,
 22947,
 22948,
 22949,
 22950,
 22952,
 22954,
 22955,
 22956,
 22980,
 22981,
 22982,
 22983,
 22984,
 22985,
 23037,
 23042,
 23043,
 23044,
 23045,
 23046,
 23067,
 23068,
 23072,
 23073,
 23083,
 23084,
 23085,
 23086,
 23087,
 23140,
 23141,
 23142,
 23145,
 23205,
 23206,
 23207,
 23208,
 23209,
 23210,
 23212,
 23213,
 23403,
 23404,
 23405,
 23406,
 23408,
 23421,
 23422,
 23426,
 23427,
 23428,
 23429,
 23430,
 23479,
 23483,
 23484,
 23485,
 23486,
 23487,
 23488,
 23489,
 23491,
 23492,
 23500,
 23502,
 23505,
 23565,
 23568,
 23569,
 23570,
 23571,
 23572,
 23573,
 23574,
 23713,
 23714,
 23715,
 23717,
 23718,
 23721,
 23732,
 23733,
 23734,
 23735,
 23736,
 23737,
 23772,
 23773,
 23774,
 23775,
 23776,
 23897,
 23898,
 23900,
 23957,
 23958,
 23959,
 23961,
 23964,
 23965,
 23985,
 23988,
 23989,
 23990,
 24011,
 24012,
 24014,
 24015,
 24039,
 24040,
 24187,
 24188,
 24190,
 24191,
 24192,
 24193,
 24194,
 24195,
 24196,
 24197,
 24198,
 24217,
 24218,
 24219,
 24220,
 24221,
 24222,
 24251,
 24252,
 24253,
 24254,
 24255,
 24318,
 24436,
 24464,
 24465,
 24467,
 24591,
 24737,
 24740,
 24759,
 24761,
 24762,
 24763,
 24764,
 24767,
 24768,
 24769,
 24770,
 24848,
 24923,
 24926,
 24927,
 24928,
 24997,
 24999,
 25000,
 25290,
 25291,
 25292,
 25293,
 25294,
 25295,
 25491,
 25494,
 25496,
 25497,
 25498,
 25499,
 25500,
 25501,
 25577,
 25579,
 25580,
 25582,
 25583,
 25584,
 25625,
 25636,
 25639,
 25640,
 25688,
 25689,
 25692,
 25693,
 25694,
 25754,
 25755,
 25756,
 25757,
 25767,
 25770,
 25985,
 26237,
 26238,
 26445,
 26492,
 26544,
 26545,
 26547,
 26550,
 26551,
 26590,
 26592,
 26764,
 26765,
 26766,
 26767,
 26768,
 26769,
 26776,
 26777,
 26778,
 26782,
 26785,
 26793,
 26794,
 26829,
 26832,
 26833,
 26959,
 26960,
 26961,
 26962,
 26964,
 27030,
 27031,
 27033,
 27034,
 27068,
 27069,
 27070,
 27076,
 27077,
 27105,
 27300,
 27301,
 27312,
 27313,
 27314,
 27315,
 27327,
 27328,
 27329,
 27335,
 27336,
 27337,
 27338,
 27341,
 27342,
 27425,
 27428,
 27621,
 27623,
 27625,
 27626,
 27682,
 27683,
 27720,
 27745,
 27747,
 27799,
 27862,
 28110,
 28311,
 28312,
 28313,
 28314,
 28315,
 28358,
 28593,
 28672,
 28673,
 28677,
 28678,
 28699,
 28700,
 28724,
 28793,
 28852,
 29175,
 29176,
 29177,
 29491,
 29629,
 29695,
 29696]

In [46]:
new_df = df.copy()

In [47]:
# Replacing the wrong entries
new_df.flare_end_time.iloc[correct_ind] = (df.flare_end_time + dt.timedelta(days=1))

C:\Users\Peter\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [48]:
# Testing
print(df['flare_end_time'].iloc[6759])
print(new_df['flare_end_time'].iloc[6759])

2002-10-13 01:08:00
2002-10-14 01:08:00

In [49]:
# Adding in a new column for the flare durations
new_df['flare_duration'] = calculate_flare_duration(new_df['flare_start_time'], new_df['flare_end_time'])

In [50]:
jt = new_df['flare_duration']
jt = jt.dropna(how='any')
jt

70       33
71        7
72        6
79       58
80        9
         ..
29698    16
29713     5
29773    49
29785     7
29951    50
Name: flare_duration, Length: 16552, dtype: object

### Saving the new df

In [51]:
new_df.to_pickle('custom_df2.p')

In [52]:
# Testing the save
df2 = 'C:/Users/Peter/py_projects/solar_stats/custom_df2.p'
test = pd.read_pickle(df2)

In [53]:
test

,cme_time,cme_angle,cme_width,cme_speed,initial_2nd_order,final_2nd_order,20r_2nd_order,cme_acceleration,cme_mass,cme_kinetic_energy,...,smart_b_max,smart_b_min,smart_observation_time,smart_string_latlon,smart_total_area,smart_negative_area,smart_hg_longitude,goes_class,goes_flux,flare_duration
0,1996-08-01 12:36:35,274.0,35.0,499.0,451.0,551.0,615.0,7.4,2.6e+14,3.200000e+29,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,1996-08-01 18:12:21,210.0,82.0,118.0,94.0,142.0,324.0,4.0,9.8e+13,6.800000e+27,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,1996-08-03 19:45:37,231.0,26.0,71.0,59.0,84.0,128.0,0.5,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,1996-08-07 13:15:05,242.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,1996-08-10 09:25:05,68.0,68.0,148.0,133.0,164.0,201.0,1.0,4.6e+14,5.000000e+28,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30223,2020-05-29 11:24:05,84.0,52.0,347.0,406.0,288.0,0.0,-21.9,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30224,2020-05-29 15:12:05,83.0,46.0,204.0,215.0,193.0,0.0,-2.8,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30225,2020-05-29 17:36:05,76.0,34.0,210.0,295.0,120.0,0.0,-19.3,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30226,2020-05-30 01:25:43,80.0,39.0,269.0,203.0,339.0,331.0,2.8,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30227,2020-05-30 08:48:05,259.0,23.0,146.0,107.0,180.0,399.0,6.5,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN