# Looking at the SEP file

In [1]:
# Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Reading in the txt file
sp = 'C:/Users/Peter/py_projects/solar_stats/SEP.txt'
f = open(sp, 'r')
print(f.read())

Prepared by the U.S. Dept. of Commerce, NOAA, Space Weather Prediction Center


                      Solar Proton Events Affecting the Earth Environment

                               January 1976 - March 2011
================================================================================================
-------------PARTICLE EVENT----------     ASSOCIATED  ---------FLARE AND ACTIVE REGION----------
 Start            Maximum    Proton Flux      CME       Flare Max.  Importance  Location Region#
(Day/UT)                   (pfu @ >10 MeV)            (Loc./ Day UT)(Xray/Opt.)           (SWO)
------------------------------------------------------------------------------------------------

                1976
Apr 30/2120      May 01/1700      12                    Apr 30/2114   X2/2B       S09W47    700

                1977
Sep 19/1430      Sep 19/2130     200                    Sep 19/1054   X2/3B       N08W58    889
Nov 22/1400      Nov 22/1800     160                    Nov 22/1006   X1/2N       N24W38    939

                1978
Feb 13/0930      Feb 14/1000     850                    Feb 13/0255   M7/0B       N22W13   1001
Apr 11/1530      Apr 11/1630      65                    Apr 11/1353   X2/2B       N19W54   1057
Apr 29/0445      Apr 30/2000    1000                    Apr 28/1306   X5/4B       N22E41   1092
May 07/0420      May 07/0420     100                    May 07/0330   X2/2B       N22W64   1095
Jun 02/0730      Jun 02/0935      19                    May 31/1009   M5/2B       N23W50   1129
Jun 24/0900      Jun 25/0230      25                    Jun 22/1709   M2/3B       N19E18   1164
Jul 13/0300      Jul 13/1000      20
Sep 23/1035      Sep 24/0400    2200                    Sep 23/1023   X1/3B       N35W50   1294
Nov 10/2130      Nov 10/2140      38                    Nov 10/0042   M1/2N       N17E02   1385

                1979
Feb 17/2020      Feb 17/2205      31                    Feb 16/0200   X2/2B       N15E48   1574
Apr 03/1600      Apr 03/2310      45
Jun 06/1850      Jun 07/0005     950                    Jun 05/0529   X2/1N       N20E16   1781
Jul 07/0015      Jul 07/1010      50
Aug 19/0850      Aug 21/0740     500                    Aug 18/1416   X6/1B       N10E90   1943
Sep 15/1500      Sep 16/1200      60                    Sep 14/0802   X2/         N10E90   1994
Nov 16/0430      Nov 16/1300      75                    Nov 15/1639   M1/0B       N34W25   2110

                1980
Feb 06/1340      Feb 06/1850      12
Jul 17/2300      Jul 19/1930     100                    Jul 17/0603   M3/1B       S12E06   2562

                1981
Mar 30/0900      Mar 30/2115      30                    Mar 30/0049   M3/2N       N13W74   2993
Apr 10/1745      Apr 11/1400      50                    Apr 10/1655   X2/3B       N09W40   3025
Apr 24/1515      Apr 24/2330     160                    Apr 24/1400   X5/2B       N18W50   3049
May 09/1200      May 10/2130     150                    May 08/2252   M7/2B       N09E37   3099
May 15/0300      May 16/1950     130                    May 13/0425   X1/3B       N11E58   3106
Jul 20/1430      Jul 20/1825     100                    Jul 20/1329   M5/1B       S26W75   3204
Jul 25/0600      Jul 25/1320      18
Aug 10/0115      Aug 10/0435      57                    Aug 07/1916   M4/2B       S10E24   3257
Oct 08/1235      Oct 13/2247    2000                    Oct 07/2308   X3/1B       S19E88   3390
Dec 10/0545      Dec 11/0900      65                    Dec 09/1854   M5/3B       N12W16   3496

                1982
Jan 31/0055      Jan 31/1630     830                    Jan 30/2358   X1/3B       S13E19   3576
Jun 06/0245      Jun 06/0245      10                    Jun 03/1146   X8/2B       S09E72   3763
Jun 09/0040      Jun 09/0510      30                    Jun 06/1637   X12/3B      S11E26   3763
Jul 11/0700      Jul 13/1615    2900                    Jul 09/0742   X9/3B       N17E73   3804
Jul 22/2030      Jul 23/0220     240                    Jul 22/1734   M4/0F       N29W86   3804
Sep 05/2205      Sep 06/0100      66                    Sep 04/0400   M4/3N       N11E30   3886
Nov 22/1940      Nov 22/2140      40                    Nov 22/1828   M7/1N       S11W43   3994
Nov 26/0605      Nov 26/1500      25                    Nov 26/0253   X4/2B       S11W87   3994
Dec 08/0010      Dec 08/1000    1000                    Dec 07/2354   X2/0B       S14W81   4007
Dec 17/1845      Dec 18/0945     130                    Dec 15/0202   X12/2B      S10E24   4026
Dec 19/1920      Dec 20/0515      85                    Dec 19/1624   M9/2B       N10W75   4022
Dec 27/0600      Dec 27/1345     190                    Dec 25/0752   X2/1B       S14E31   4033

                1983
Feb 03/1200      Feb 04/1620     340                    Feb 03/0619   X4/3B       S19W08   4077
Jun 15/0435      Jun 15/1800      18                    Jun 14                    S09W90   4201

                1984
Feb 16/0915      Feb 16/1005     660                    Feb 16                    S12W90   4408
Feb 19/1310      Feb 21/1415      55                    Feb 17/2301   X2/2B       N16E82   4421
Mar 13/1440      Mar 13/1450      10
Mar 14/0405      Mar 14/0505     100                    Mar 14/0334   M2/2B       S12W42   4433
Apr 25/1330      Apr 26/1420    2500                    Apr 25/0005   X13/3B      S12E43   4474
May 24/1045      May 24/1140      31                    May 22/1503   M6/2B       S09E24   4492
May 31/1315      May 31/1415      15                    May 31/1142   M1          S09W90   4492

                1985
Jan 22/0415      Jan 22/0550      14                    Jan 21/2350   X4/2B       S08W38   4617
Apr 25/1430      Apr 26/0600     160                    Apr 24/0935   X1/3B       N06E27   4647
Jul 09/0235      Jul 09/0325     140                    Jul 09/0204   M2/1B       S16W36   4671

                1986
Feb 06/0925      Feb 07/1730     130                    Feb 06/0625   X1/3B       S04W06   4711
Feb 14/1155      Feb 15/0400     130                    Feb 14/0929   M6/1B       N01W76   4713
Mar 06/1835      Mar 06/1930      21                    Mar 06/1703   C4/1F       N02E01   4717
May 04/1255      May 04/1320      16                    May 04/1007   M1          N06W90   4717

                1987
Nov 08/0200      Nov 08/0940     120                    Nov 07/2014   M1          N31W90   4875

                1988
Jan 02/2325      Jan 03/0835      92                    Jan 02/2145   X1/3B       S34W18   4912
Mar 25/2225      Mar 25/2330      58                    Mar 25/2145   EPL         N22W90   4965
Jun 30/1055      Jun 30/1140      21                    Jun 30/0906   M9/2B       S16E22   5060
Aug 26/0000      Aug 26/0045      42                    Aug 23/1804   M2/EPL      N24E90   5125
Oct 12/0920      Oct 12/0930      12                    Oct 12/0511   X2/2N       S20W66   5175
Nov 08/2225      Nov 09/0635      13                    Nov 07/1105   M3/1N       S17W47   5212
Nov 14/0130      Nov 14/0235      13                    Nov 13/2309   M3/1N       S23W27   5227
Dec 17/0610      Dec 17/0855      18                    Dec 15/0505   X1/1N       N27E59   5278
Dec 17/2000      Dec 18/0150      29                    Dec 16/0841   X4/1B       N26E37   5278

                1989
Jan 04/2305      Jan 05/0130      28                    Jan 04/1753   M4/1N       S20W60   5303
Mar 08/1735      Mar 13/0645    3500                    Mar 06/1405   X15/3B      N35E69   5395
Mar 17/1855      Mar 18/0920    2000                    Mar 17/1744   X6/2B       N33W60   5395
Mar 23/2040      Mar 24/0110      53                    Mar 23/1948   X1/3B       N18W28   5409
Apr 11/1435      Apr 12/0125     450                    Apr 09/0105   X3/4B       N35E29   5441
May 05/0905      May 05/1000      27                    May 04/1115   M5/2N       S20W36   5464
May 06/0235      May 06/1045     110                    May 05/0737   X2/3B       N30E01   5470
May 23/1135      May 23/1350      68
May 24/0730      May 24/0905      15                    May 22/0037   M5/2B       S21E16   5497
Jun 18/1650      Jun 18/1910      18                    Jun 18/1447   C4/0F       N12W31   5534
Jun 30/0655      Jun 30/0710      17                    Jun 29/2127   M3/2B       N26W60   5555
Jul 01/0655      Jul 01/0720      17
Jul 25/0900      Jul 25/1225      54                    Jul 25/0844   X2/2N       N25W84   5603
Aug 12/1600      Aug 13/0710    9200                    Aug 12/1427   X2/2B       S16W37   5629
Sep 04/0120      Sep 04/0510      44                    Sep 03/1432   X1/1B       S18E16   5669
Sep 12/1935      Sep 13/0825      57                    Sep 12/0814   M5/EPL      S18W79   5669
Sep 29/1205      Sep 30/0210    4500                    Sep 29/1133   X9/EPL      S26W90   5698
Oct 06/0050      Oct 06/0825      22
Oct 19/1305      Oct 20/1600   40000                    Oct 19/1258   X13/4B      S27E10   5747
Nov 09/0240      Nov 09/0610      43
Nov 15/0735      Nov 15/0910      71                    Nov 15/0659   X3/3B       N11W26   5786
Nov 27/2000      Nov 28/1105     380                    Nov 25/2355   X1/2N       N30E05   5800
Nov 30/1345      Dec 01/1340    7300                    Nov 30/1229   X2/3B       N26W59   5800

                1990
Mar 19/0705      Mar 19/2315     950                    Mar 19/0508   X1/2B       N31W43   5969
Mar 29/0915      Mar 29/1005      16                    Mar 28/0751   M4/2N       S04W37   5988
Apr 07/2240      Apr 08/1330      18                    Apr 04/1338   M7/0N       N22E72   6007
Apr 11/2120      Apr 11/2130      13
Apr 17/0500      Apr 17/0655      12                    Apr 15/0302   X1/2B       N32E57   6022
Apr 28/1005      Apr 28/1735     150
May 21/2355      May 22/0750     410                    May 21/2219   X5/2B       N35W36   6063
May 24/2125      May 25/0115     180                    May 24/2051   X9/1B       N33W78   6063
May 28/0715      May 29/0100      45
Jun 12/1140      Jun 12/1700      79                    Jun 12/0541   M6/2B       N10W33   6089
Jul 26/1720      Jul 26/2315      21
Aug 01/0005      Aug 01/2015     230                    Jul 30/0736   M4/2B       N20E45   6180

                1991
Jan 31/1130      Jan 31/1620     240                    Jan 31/0230   X1/2B       S17W35   6469
Feb 25/1210      Feb 25/1305      13                    Feb 25/0819   X1/2N       S16W80   6497
Mar 23/0820      Mar 24/0350   43000                    Mar 22/2247   X9/3B       S26E28   6555
Mar 29/2120      Mar 30/0330      20
Apr 03/0815      Apr 04/1000      52                    Apr 02/2327   M6/3B       N14W00   6562
May 13/0300      May 13/0910     350                    May 13/0144   M8          S09W90   6615
May 31/1225      Jun 01/0445      22
Jun 04/0820      Jun 11/1420    3000                    Jun 04/0352   X12/3B      N30E70   6659
Jun 14/2340      Jun 15/1950    1400                    Jun 15/0821   X12/3B      N33W69   6659
Jun 30/0755      Jul 02/1010     110                    Jun 28/0626   M6          N30E85   6703
Jul 07/0455      Jul 08/1645    2300                    Jul 07/0223   X1/2B       N26E03   6703
Jul 11/0240      Jul 11/0450      30                    Jul 10/1228   M3/2N       S22E34   6718
Jul 11/2255      Jul 12/0205      14
Aug 26/1740      Aug 27/1830     240                    Aug 25/0115   X2/2B       N25E64   6805
Oct 01/1740      Oct 01/1810      12                    Sep 29/1533   M7/4B       S21E32   6853
Oct 28/1300      Oct 28/1440      40                    Oct 27/0548   X6/3B       S13E15   6891
Oct 30/0745      Oct 30/0810      94                    Oct 30/0634   X2/3B       S08W25   6891

                1992
Feb 07/0645      Feb 07/1115      78                    Feb 06/1048   M4/2B       S13W10   7042
Mar 16/0840      Mar 16/0840      10                    Mar 15/0154   M7/3B       S14E29   7100
May 09/1005      May 09/2100    4600                    May 08/1546   M7/4B       S26E08   7154
Jun 25/2045      Jun 26/0610     390                    Jun 25/2014   X3/2B       N09W67   7205
Aug 06/1145      Aug 06/1210      14                    Aug 03/0706   M4/1N       S09E68   7248
Oct 30/1920      Oct 31/0710    2700                    Oct 30/1816   X1/2B       S22W61   7321

                1993
Mar 04/1505      Mar 04/1735      17                    Mar 04/1240   C8/2N       S14W56   7434
Mar 12/2010      Mar 13/0155      44                    Mar 12/1815   M7/3B       S00W51   7440

                1994
Feb 20/0300      Feb 21/0900   10000                    Feb 20/0141   M4/3B       N09W02   7671
Oct 20/0030      Oct 20/0340      35                    Oct 19/2127   M3/1F       N12W24   7790

                1995
Oct 20/0825      Oct 20/1210      63                    Oct 20/0607   M1/0F       S09W55   7912

                1996
none

                1997
Nov 04/0830      Nov 04/1120      72     W/04 0610      Nov 04/0558   X2/2B       S14W33   8100
Nov 06/1305      Nov 07/0255     490     W/06 >1300     Nov 06/1155   X9/2B       S18W63   8100

                1998
Apr 20/1400      Apr 21/1205    1700     W/20 1007      Apr 20/1021   M1/EPL      S43W90   8194
May 02/1420      May 02/1650     150     Halo/02 1406   May 02/1342   X1/3B       S15W15   8210
May 06/0845      May 06/0945     210     W/06 0829      May 06/0809   X2/1N       S11W65   8210
Aug 24/2355      Aug 26/1055     670     NA             Aug 24/2212   X1/3B       N30E07   8307
Sep 25/0010      Sep 25/0130      44     NA             Sep 23/0713   M7/3B       N18E09   8340
Sep 30/1520      Oct 01/0025    1200     NA             Sep 30/1350   M2/2N       N23W81   8340
Nov 08/0245      Nov 08/0300      11     ?
Nov 14/0810      Nov 14/1240     310     NA             Nov 14/0518   C1/BSL      N28W90   8375?

                1999
Jan 23/1105      Jan 23/1135      14     NA             Jan 20/2004   M5          N27E90
Apr 24/1804      Apr 25/0055      32     Halo/24 1331                             NW limb  8517?
May 05/1820      May 05/1955      14     Halo/03 0606   May 03/0602   M4/2N       N15E32   8525
Jun 02/0245      Jun 02/1010      48     Halo/01 <1937  Jun 01/~1930
Jun 04/0925      Jun 04/1055      64     NW/ 04 0726    Jun 04/0703   M3/2B       N17W69   8552

                2000
Feb 18/1130      Feb 18/1215      13     W/18 0954      Feb 17/2035   M1/2N       S29E07   8872
Apr 04/2055      Apr 05/0930      55     W/04 1632      Apr 04/1541   C9/2F       N16W66   8933
Jun 07/1335      Jun 08/0940      84     Halo/06 1554   Jun 06/1525   X2/3B       N20E18   9026
Jun 10/1805      Jun 10/2045      46     Halo/10 1708   Jun 10/1702   M5/3B       N22W38   9026
Jul 14/1045      Jul 15/1230   24000     Halo/14 1054   Jul 14/1024   X5/3B       N22W07   9077
Jul 22/1320      Jul 22/1405      17     NW/22 1230     Jul 22/1134   M3/2N       N14W56   9085
Jul 28/1050      Jul 28/1130      18     ?
Aug 11/1650      Aug 11/1740      17     ?
Sep 12/1555      Sep 13/0340     320     Halo/12 1331   Sep 12/1213   M1/2N       S17W09   Filament
Oct 16/1125      Oct 16/1840      15     Halo/16 0727   Oct 16/0728   M2          N04W90   9182?
Oct 26/0040      Oct 26/0340      15     Halo/25 0826   Oct 25/1125   C4          N00W90
Nov 08/2350      Nov 09/1555   14800     Halo/08 2306   Nov 08/2328   M7/multiple N00-10W75-80 9212,13,18
Nov 24/1520      Nov 26/2030     940     Halo/24 0530   Nov 24/0502   X2/3B       N20W05   9236

                2001
Jan 28/2025      Jan 29/0655      49     Halo/28 1554   Jan 28/1600   M1/1N       S04W59   9313
Mar 29/1635      Mar 30/0610      35     Halo/29 1026   Mar 29/1015   X1/1N       N14W12   9393
Apr 02/2340      Apr 03/0745    1110     NW/02 ~2200    Apr 02/2151   X20         N18W82   9393
Apr 10/0850      Apr 11/2055     355     Halo/10 0530   Apr 10/0526   X2/3B       S23W09   9415
Apr 15/1410      Apr 15/1920     951     W/15 1430      Apr 15/1350   X14/2B      S20W85   9415
Apr 18/0315      Apr 18/1045     321     SW/18 0230     Apr 18/0214   C2          S20W limb 9415
Apr 28/0430      Apr 28/0500      57     Halo/26 1230   Apr 26/1312   M7/2B       N17W31   9433
May 07/1915      May 08/0755      30     NW/07 ~1000                              NW limb
Jun 15/1750      Jun 16/0005      26     W/15 1648                                W limb
Aug 10/1020      Aug 10/1155      17     W/09 1030      Aug 09/1122   C3          Disk center
Aug 16/0135      Aug 16/0355     493     Halo /15 2330                            Far Backside
Sep 15/1435      Sep 15/1455      11     SW/15 1154     Sep 15/1128   M1/1N       S21W49   9608
Sep 24/1215      Sep 25/2235   12900     Halo/24 1030   Sep 24/1038   X2/2B       S16E23   9632
Oct 01/1145      Oct 02/0810    2360     SW/01 0530     Oct 01/0515   M9          S22W91   9628
Oct 19/2225      Oct 19/2235      11     Halo/19 1650   Oct 19/1630   X1/2B       N15W29   9661
Oct 22/1910      Oct 22/2130      24     SE/22 1826     Oct 22/1759   X1/2B       S18E16   9672
Nov 04/1705      Nov 06/0215   31700     Halo/ 04 1635  Nov 04/1620   X1/3B       N06W18   9684
Nov 19/1230      Nov 20/0010      34     Halo/17 0530   Nov 17/0525   M2/1N       S13E42   9704
Nov 22/2320      Nov 24/0555   18900     Halo/22 2330   Nov 22/2330   M9/2N       S15W34   9704
Dec 26/0605      Dec 26/1115     779     W/26 0530      Dec 26/0540   M7/1B       N08W54   9742
Dec 29/0510      Dec 29/0815      76     E/28 2006      Dec 28/2045   X3          S26E90   9767
Dec 30/0245      Dec 31/1620     108

                2002
Jan 10/2045      Jan 11/0530	  91	E/08 1754      Jan 08/2025   C9 	E limb
Jan 15/1435      Jan 15/2000	  15	Halo/14 0525   Jan 14/0627   M4 	W limb
Feb 20/0730      Feb 20/0755	  13	W/20 0630      Feb 20/0612   M5/1N	N12W72    9825
Mar 17/0820      Mar 17/0850	  13	Halo/15 2306   Mar 15/2310   M2/1F	S08W03    9866
Mar 18/1300      Mar 19/0650	  53
Mar 20/1510      Mar 20/1525	  19	W/18 0254      Mar 18/0231   M1 	S09W46  near 9866
Mar 22/2020      Mar 23/1320	  16	Halo/22 1106   Mar 22/1114   M1 	W limb    9866
Apr 17/1530      Apr 17/1540	  24	Halo/17 0826   Apr 17/0824   M2/2N	S14W34    9906
Apr 21/0225      Apr 21/2320    2520	W/21 0127      Apr 21/0151   X1/1F	S14W84    9906
May 22/1775      May 23/1055	 820	Halo/22 0326   May 22/0354   C5/DSF	S19W56
Jul 07/1830      Jul 07/1955	  22	W/07 1106      Jul 07/1143   M1 	W limb      17
Jul 16/1750      Jul 17/1600	 234	Halo/15 2030   Jul 15/2008   X3/3B	N19W01      30
Jul 19/1050      Jul 19/1515	  13
Jul 22/0655      Jul 23/1025	  28	Halo/20 2042   Jul 20/2130   X3 	SE limb     39
Aug 14/0900      Aug 14/1620	  26	NW/14 0206     Aug 14/0212   M2/1N	N09W54      61
Aug 22/0440      Aug 22/0940	  36	SW/22 0200     Aug 22/0157   M5/2B	S07W62      69
Aug 24/0140      Aug 24/0835	 317	W/24 0127      Aug 24/0112   X3/1F	S08W90      69
Sep 07/0440      Sep 07/1650	 208	Halo/05 1654   Sep 05/1706   C5/DSF	N09E28     102
Nov 09/1920      Nov 10/0540	 404	SW/09 1331     Nov 09/1323   M4/2B	S12W29     180

                2003
May 28/2335      May 29/1530	 121	Halo/28 0050   May 28/0027   X3/2B	S07W17     365
May 31/0440      May 31/0645	  27	W/31 0230      May 31/0224   M9/2B	S07W65     365
Jun 18/2050      Jun 19/0450	  24	Halo/17 2330   Jun 17/2255   M6 	S08E61     386
Oct 26/1825      Oct 26/2235	 466	Halo/26 1754   Oct 26/1819   X1/1N	N02W38     484
Oct 28/1215      Oct 29/0615   29500	Halo/28 1054   Oct 28/1110   X17/4B	S16E08     486
Nov 02/1105      Nov 03/0815    1570	Halo/02 0954
Nov 04/2225      Nov 05/0600	 353	Halo/04 1954   Nov 04/1929   X28/3B	S19W83     486
Nov 21/2355      Nov 22/0230	  13	SW/21 0026     Nov 20/2353   M5/2B	N02W17     501
Dec 02/1505      Dec 02/1730	  86	Halo/02 1026   Dec 02/0948   C7 	W limb

	        2004
Apr 11/1135      Apr 11/1845      35     SW/11 0430     Apr 11/0419   C9/1F      S14W47     588
Jul 25/1855      Jul 26/2250    2086     Halo/25 1530   Jul 25/1514   M1/1F      N08W33     652

### Making a dataframe of the data from (1996-08-01 12:36:35) onwards

In [3]:
col1='year'
col2='start'
col3='event_max'
col4='proton_flux'
col5='associated_cme'
col6='flare_max'
col7='importance'
col8='location'
col9='region'

In [4]:
years = ['1997', '1997',
         '1998', '1998', '1998', '1998', '1998', '1998', '1998', '1998',
         '1999', '1999', '1999', '1999', '1999',
         '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000', '2000',
         '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001', '2001',
         '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002',
         '2003', '2003', '2003', '2003', '2003', '2003', '2003', '2003', '2003',
         '2004', '2004', '2004', '2004', '2004', '2004',
         '2005', '2005', '2005', '2005', '2005', '2005', '2005',
         '2006', '2006',
         '2010',
         '2011', '2011', '2011', '2011', '2011', '2011', '2011',
         '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012', '2012',
         '2013', '2013', '2013', '2013', '2013', '2013', '2013',
         '2014', '2014', '2014', '2014',
         '2015', '2015',
         '2016',
         '2017' ]

In [5]:
start = ['Nov 04/0830', 'Nov 06/1305',
        'Apr 20/1400', 'May 02/1420', 'May 06/0845', 'Aug 24/2355', 'Sep 25/0010', 'Sep 30/1520', 'Nov 08/0245', 'Nov 14/0810',
        'Jan 23/1105', 'Apr 24/1804', 'May 05/1820', 'Jun 02/0245', 'Jun 04/0925',
        'Feb 18/1130', 'Apr 04/2055', 'Jun 07/1335', 'Jun 10/1805', 'Jul 14/1045', 'Jul 22/1320', 'Jul 28/1050', 'Aug 11/1650', 'Sep 12/1555', 'Oct 16/1125', 'Oct 26/0040', 'Nov 08/2350', 'Nov 24/1520',
        'Jan 28/2025', 'Mar 29/1635', 'Apr 02/2340', 'Apr 10/0850', 'Apr 15/1410', 'Apr 18/0315', 'Apr 28/0430', 'May 07/1915', 'Jun 15/1750', 'Aug 10/1020', 'Aug 16/0135', 'Sep 15/1435', 'Sep 24/1215', 'Oct 01/1145', 'Oct 19/2225', 'Oct 22/1910', 'Nov 04/1705', 'Nov 19/1230', 'Nov 22/2320', 'Dec 26/0605', 'Dec 29/0510', 'Dec 30/0245',
        'Jan 10/2045', 'Jan 15/1435', 'Feb 20/0730', 'Mar 17/0820', 'Mar 18/1300', 'Mar 20/1510', 'Mar 22/2020',  'Apr 17/1530', 'Apr 21/0225', 'May 22/1755', 'Jul 07/1830', 'Jul 16/1750', 'Jul 19/1050', 'Jul 22/0655', 'Aug 14/0900', 'Aug 22/0440', 'Aug 24/0140', 'Sep 07/0440', 'Nov 09/1920',
        'May 28/2335', 'May 31/0440', 'Jun 18/2050', 'Oct 26/1825', 'Oct 28/1215', 'Nov 02/1105', 'Nov 04/2225', 'Nov 21/2355', 'Dec 02/1505',
        'Apr 11/1135', 'Jul 25/1855', 'Sep 13/2105', 'Sep 19/1925', 'Nov 01/0655', 'Nov 07/1910',
        'Jan 16/0210', 'May 14/0525', 'Jun 16/2200', 'Jul 14/0245', 'Jul 27/2300', 'Aug 22/2040', 'Sep 08/0215', 
        'Dec 06/1555', 'Dec 13/0310', 
        'Aug 14/1230',
        'Mar 08/0105', 'Mar 21/1950', 'Jun 07/0820', 'Aug 04/0635', 'Aug 09/0845', 'Sep 23/2255', 'Nov 26/1125',
        'Jan 23/0530', 'Jan 27/1905', 'Mar 07/0510', 'Mar 13/1810', 'May 17/0210', 'May 27/0535', 'Jun 16/1955', 'Jul 07/0400', 'Jul 12/1835', 'Jul 17/1715', 'Jul 23/1545', 'Sep 01/1335', 'Sep 28/0300',
        'Mar 16/1940', 'Apr 11/1055', 'May 14/1325', 'May 22/1420', 'Jun 23/2014', 'Sep 30/0505', 'Dec 28/2150',
        'Jan 06/0915', 'Jan 06/0915', 'Feb 20/0850', 'Feb 25/1355', 
        'Jun 18/1135', 'Oct 29/0550', 
        'Jan 02/0430', 
        'Sep 05/0751']

In [6]:
event_max = ['Nov 04/1120', 'Nov 07/0255',
            'Apr 21/1205', 'May 02/1650', 'May 06/0945', 'Aug 26/1055', 'Sep 25/0130', 'Oct 01/0025', 'Nov 08/0300', 'Nov 14/1240', 
            'Jan 23/1135', 'Apr 25/0055', 'May 05/1955', 'Jun 02/1010', 'Jun 04/1055', 
            'Feb 18/1215', 'Apr 05/0930', 'Jun 08/0940', 'Jun 10/2045', 'Jul 15/1230', 'Jul 22/1405', 'Jul 28/1130', 'Aug 11/1740', 'Sep 13/0340', 'Oct 16/1840', 'Oct 26/0340', 'Nov 09/1555', 'Nov 26/2030', 
            'Jan 29/0655', 'Mar 30/0610', 'Apr 03/0745', 'Apr 11/2055', 'Apr 15/1920', 'Apr 18/1045', 'Apr 28/0500', 'May 08/0755', 'Jun 16/0005', 'Aug 10/1155', 'Aug 16/0355', 'Sep 15/1455', 'Sep 25/2235', 'Oct 02/0810', 'Oct 19/2235', 'Oct 22/2130', 'Nov 06/0215', 'Nov 20/0010', 'Nov 24/0555', 'Dec 26/1115', 'Dec 29/0815', 'Dec 31/1620', 
            'Jan 11/0530', 'Jan 15/2000', 'Feb 20/0755',' Mar 17/0850', 'Mar 19/0650', 'Mar 20/1525', 'Mar 23/1320', 'Apr 17/1540', 'Apr 21/2320', 'May 23/1055', 'Jul 07/1955', 'Jul 17/1600', 'Jul 19/1515', 'Jul 23/1025', 'Aug 14/1620', 'Aug 22/0940', 'Aug 24/0835', 'Sep 07/1650', 'Nov 10/0540',
            'May 29/1530', 'May 31/0645', 'Jun 19/0450', 'Oct 26/2235', 'Oct 29/0615', 'Nov 03/0815', 'Nov 05/0600', 'Nov 22/0230', 'Dec 02/1730', 
            'Apr 11/1845', 'Jul 26/2250', 'Sep 14/0005', 'Sep 20/0100', 'Nov 01/0805', 'Nov 08/0115', 
            'Jan 17/1750', 'May 15/0240', 'Jun 17/0500', 'Jul 15/0345', 'Jul 29/1715', 'Aug 23/1045', 'Sep 11/0425', 
            'Dec 07/1930', 'Dec 13/0925', 
            'Aug 14/1245',
            'Mar 08/0800', 'Mar 22/0135', 'Jun 07/1820', 'Aug 05/2150', 'Aug 09/1210', 'Sep 26/1155', 'Nov 27/0125', 
            'Jan 24/1530', 'Jan 28/0205', 'Mar 08/1115', 'Mar 13/2045', 'May 17/0430', 'May 27/1045', 'Jun 16/2020', 'Jul 07/0745', 'Jul 12/2225', 'Jul 18/0600', 'Jul 23/2145', 'Sep 02/0859', 'Sep 28/0445', 
            'Mar 17/0700', 'Apr 11/1645', 'May 17/1720', 'May 23/0650', 'Jun 24/0520', 'Sep 30/2005', 'Dec 28/2315', 
            'Jan 06/1600', 'Jan 09/0340', 'Feb 20/0925', 'Feb 28/0845', 
            'Jun 18/1445', 'Oct 29/1000', 
            'Jan 02/0450',
            'Sep 05/1930']

In [7]:
proton_flux = [72, 490, 
               1700, 150, 210, 670, 44, 1200, 11, 310, 
               14, 32, 14, 48, 64,
               13, 55, 84, 46, 24000, 17, 18, 17, 320, 15, 15, 14800, 940,
               49, 35, 1110, 355, 951, 321, 57, 30, 26, 17, 493, 11, 12900, 2360, 11, 24, 31700, 34, 18900, 779, 76, 108,
               91, 15, 13, 13, 53, 19, 16, 24, 2520, 820, 22, 234, 13, 28, 26, 36, 317, 208, 404,
               121, 27, 24, 466, 29500, 1570, 353, 13, 86,
               35, 2086, 273, 57, 63, 495,
               5040, 3140, 44, 134, 41, 330, 1880,
               1980, 698,
               14,
               50, 14, 72, 96, 26, 35, 80,
               6310, 796, 6530, 469, 255, 14, 14, 25, 96, 136, 12, 59, 28,
               16, 114, 41, 1660, 14, 182, 29,
               42, 1033, 22, 103,
               16, 23,
               21,
               210]

In [8]:
associated_cme = ['W/04 0610', 'W/06 1300',
                 'W/20 1007', 'Halo/02 1406', 'W/06 0829', np.nan, np.nan, np.nan, np.nan, np.nan,
                 np.nan, 'Halo/24 1331', 'Halo/03 0606', 'Halo/01 1937', 'NW/ 04 0726', 
                 'W/18 0954', 'W/04 1632', 'Halo/06 1554', 'Halo/10 1708', 'Halo/14 1054', 'NW/22 1230', np.nan, np.nan, 'Halo/12 1331', 'Halo/16 0727', 'Halo/25 0826', 'Halo/08 2306', 'Halo/24 0530', 
                 'Halo/28 1554', 'Halo/29 1026', 'NW/02 2200', 'Halo/10 0530', 'W/15 1430', 'SW/18 0230', 'Halo/26 1230', 'NW/07 1000', 'W/15 1648', 'W/09 1030', 'Halo /15 2330', 'SW/15 1154', 'Halo/24 1030', 'SW/01 0530', 'Halo/19 1650', 'SE/22 1826', 'Halo/ 04 1635', 'Halo/17 0530', 'Halo/22 2330', 'W/26 0530', 'E/28 2006', np.nan, 
                 'E/08 1754', 'Halo/14 0525', 'W/20 0630', 'Halo/15 2306', np.nan, 'W/18 0254', 'Halo/22 1106', 'Halo/17 0826', 'W/21 0127', 'Halo/22 0326', 'W/07 1106', 'Halo/15 2030', np.nan, 'Halo/20 2042', 'NW/14 0206', 'SW/22 0200', 'W/24 0127', 'Halo/05 1654', 'SW/09 1331', 
                 'Halo/28 0050', 'W/31 0230', 'Halo/17 2330', 'Halo/26 1754', 'Halo/28 1054', 'Halo/02 0954', 'Halo/04 1954', 'SW/21 0026', 'Halo/02 1026', 
                 'SW/11 0430', 'Halo/25 1530', 'Halo/12 0036', 'W/19 2224', 'W/01 0606', 'Halo/07 1706',
                 'Halo/15 2306', 'Halo/13 1722', 'W/16 2003', 'Halo/13 1430', 'Halo/27 0454', 'Halo/22 1730', 'E/07 1723', 
                 'Halo', 'Halo/13 0254', 
                 'W/14 1325',
                 'NW/07 2000', 'NW/21 0236', 'SW/08 1750', 'NW/06 0515', 'NW/09 1710', 'NE/27 0430', 'NW/28 0145', 
                 'NW/23 0400', 'NW/27 1827', 'NE/07 0036', 'NW/13 1736', 'NW/17 0148', '/27 2112', 'SE/14 1430', 'SW/06 2312', 'SW/12 1649', 'SW/17 1348', 'SW/23 0236', 'SE/31 2012', 'NW/28 0018', 
                 'NE/15 0712', 'NE/11 0724', 'NE/15 0148', 'NW/22 1325', 'SE/21 0312', 'NW/29 2212', 'SE/28 1736', 
                 'SE/06 0800', 'SW/07 1824', 'SW/20 0800', 'SE/25 0130', 
                 'SW/18 0125', 'SW/29 0236', 
                 'SW/02 2324',
                 'SW/04 2048']

In [9]:
flare_max = ['Nov 04/0558', 'Nov 06/1155',
            'Apr 20/1021', 'May 02/1342', 'May 06/0809', 'Aug 24/2212', 'Sep 23/0713', 'Sep 30/1350', np.nan, 'Nov 14/0518', 
            'Jan 20/2004', np.nan, 'May 03/0602', 'Jun 01/1930', 'Jun 04/0703', 
            'Feb 17/2035', 'Apr 04/1541', 'Jun 06/1525', 'Jun 10/1702', 'Jul 14/1024', 'Jul 22/1134', np.nan, np.nan, 'Sep 12/1213', 'Oct 16/0728', 'Oct 25/1125', 'Nov 08/2328', 'Nov 24/0502',   
            'Jan 28/1600', 'Mar 29/1015', 'Apr 02/2151', 'Apr 10/0526', 'Apr 15/1350', 'Apr 18/0214', 'Apr 26/1312', np.nan, np.nan, 'Aug 09/1122', np.nan, 'Sep 15/1128', 'Sep 24/1038', 'Oct 01/0515', 'Oct 19/1630', 'Oct 22/1759', 'Nov 04/1620', 'Nov 17/0525', 'Nov 22/2330', 'Dec 26/0540', 'Dec 28/2045', np.nan, 
            'Jan 08/2025', 'Jan 14/0627', 'Feb 20/0612', 'Mar 15/2310', np.nan, 'Mar 18/0231', 'Mar 22/1114', 'Apr 17/0824', 'Apr 21/0151', 'May 22/0354', 'Jul 07/1143', 'Jul 15/2008', np.nan, 'Jul 20/2130', 'Aug 14/0212', 'Aug 22/0157', 'Aug 24/0112', 'Sep 05/1706', 'Nov 09/1323', 
            'May 28/0027', 'May 31/0224', 'Jun 17/2255', 'Oct 26/1819', 'Oct 28/1110', np.nan, 'Nov 04/1929', 'Nov 20/2353', 'Dec 02/0948', 
            'Apr 11/0419', 'Jul 25/1514', 'Sep 12/0056', 'Sep 19/1712', np.nan, 'Nov 07/1606', 
            'Jan 15/2302', 'May 13/1657', 'Jun 16/2022', 'Jul 13/1449', 'Jul 27/0502', 'Aug 22/1727', 'Sep 07/1740', 
            'Dec 05/1035', 'Dec 13/0240', 
            'Aug 14/1005',
            'Mar 07/2012', np.nan, 'Jun 07/0803', 'Aug 04/0412', 'Aug 09/0805', 'Sep 22/1101', 'Nov 26/0710', 
            'Jan 23/0359', 'Jan 27/1837', 'Mar 07/0024', 'Mar 13/1741', 'May 17/0147', np.nan, 'Jun 14/1435', 'Jul 06/2308', 'Jul 12/1710', 'Jul 17/1715', np.nan, 'Aug 31/2043', 'Sep 27/2357', 
            'Mar 15/0658', 'Apr 11/0716', 'May 15/0148', 'May 22/1322', 'Jun 21/0314', 'Sep 29/2337', 'Dec 28/1802', 
            np.nan, 'Jan 07/1832', 'Feb 20/0756', 'Feb 25/0049', 
            'Jun 18/0127', np.nan, 
            'Jan 02/0011',
            'Sep 04/2033']

In [10]:
importance = ['X2/2B', 'X9/2B',
             'M1/EPL', 'X1/3B', 'X2/1N', 'X1/3B', 'M7/3B', 'M2/2N', np.nan, 'C1/BSL', 
             'M5', np.nan, 'M4/2N', np.nan, 'M3/2B', 
             'M1/2N', 'C9/2F', 'X2/3B', 'M5/3B', 'X5/3B', 'M3/2N', np.nan, np.nan, 'M1/2N', 'M2', 'C4', 'M7/multiple', 'X2/3B', 
             'M1/1N', 'X1/1N', 'X20', 'X2/3B', 'X14/2B', 'C2', 'M7/2B', np.nan, np.nan, 'C3', np.nan, 'M1/1N', 'X2/2B', 'M9', 'X1/2B', 'X1/2B', 'X1/3B', 'M2/1N', 'M9/2N', 'M7/1B', 'X3', np.nan,
             'C9', 'M4', 'M5/1N','M2/1F', np.nan, 'M1', 'M1', 'M2/2N', 'X1/1F', 'C5/DSF', 'M1', 'X3/3B', np.nan, 'X3', 'M2/1N', 'M5/2B', 'X3/1F', 'C5/DSF', 'M4/2B',
             'X3/2B', 'M9/2B', 'M6', 'X1/1N', 'X17/4B', np.nan, 'X28/3B', 'M5/2B', 'C7', 
             'C9/1F', 'M1/1F', 'M4/2N', 'M1', np.nan, 'X2',
             'X2', 'M8/2B', 'M4', 'M5', 'M3', 'M5/1N', 'X17/3B', 
             'X9/2N', 'X3/4B', 
             'C4/0F',
             'M3/SF', np.nan, 'M2/2N', 'M9/2B', 'X6/2B', 'X1/2N', np.nan, 
             'M8/2B', 'X1/1F', 'X5/3B', 'M7', 'M5/1F', np.nan, 'M1/1N', 'X1', 'X1/2B', 'M1', np.nan, 'C8/2F', 'C3/1F', 
             'M1/1F', 'M6/3B', 'X1/2N', 'M5/3N', 'M2/1F', np.nan, 'C9/SN', 
             np.nan, 'X1/2N', 'M3/SN', 'X4/2B', 
             'M1.3', np.nan,
             'M2.0',
             'M5.0']

In [11]:
location = ['S14W33', 'S18W63',
           'S43W90', 'S15W15', 'S11W65', 'N30E07', 'N18E09', 'N23W81', np.nan, 'N28W90', 
           'N27E90', 'NW limb', 'N15E32', np.nan, 'N17W69', 
           'S29E07', 'N16W66', 'N20E18', 'N22W38', 'N22W07', 'N14W56', np.nan, np.nan, 'S17W09', 'N04W90', 'N00W90','N00-10W75-80', 'N20W05', 
           'S04W59', 'N14W12', 'N18W82', 'S23W09', 'S20W85', 'S20W limb', 'N17W31', 'NW limb', 'W limb', 'Disk center', 'Far Backside', 'S21W49', 'S16E23', 'S22W91', 'N15W29', 'S18E16', 'N06W18', 'S13E42', 'S15W34', 'N08W54', 'S26E90', np.nan,
           'E limb', 'W limb', 'N12W72', 'S08W03', np.nan, 'S09W46', 'W limb', 'S14W34', 'S14W84', 'S19W56', 'W limb', 'N19W01', np.nan, 'SE limb', 'N09W54', 'S07W62', 'S08W90', 'N09E28', 'S12W29', 
           'S07W17', 'S07W65', 'S08E61', 'N02W38', 'S16E08', np.nan, 'S19W83', 'N02W17', 'W limb',
           'S14W47', 'N08W33', 'N04E42', 'N03W58', 'Backside', 'N09W17', 
           'N15W05', 'N12E11', 'N09W87', 'N10W80', 'N11E90', 'S12W60', 'S06E89', 
           'S07E79', 'S05W23', 
           'N17W52',
           'N24W59', np.nan, 'S21W64', 'N15W49', 'N17W83', 'N11E74', 'N08W49', 
           'N28W36', 'N27W71', 'N17E15', 'N18W62', 'N12W89',  np.nan, 'S17E14', 'S18W50', 'S16W09', 'S17W75', 'S16W86', 'S06E20', 'N08W41', 
           'N11E12', 'N09E12', 'N11E51', 'N15W70', 'S16E66', 'N15W40', 'S18E07', 
           'S15E90', 'S15W11', 'S15W67', 'S12E82', 
           'S13W102', np.nan, 
           'S21W73',
           'S08W16']

In [12]:
region = [8100, 8100,
         8194, 8210, 8210, 8307, 8340, 8340, np.nan, 8375,
         np.nan, 8517, 8525, np.nan, 8552,
         8872, 8933, 9026, 9026, 9077, 9085, np.nan, np.nan, 'Filament', 9182, np.nan, '9212,13,18', 9236, 
         9313, 9393, 9393, 9415, 9415, 9415, 9433, np.nan, np.nan, np.nan, np.nan, 9608, 9632, 9628, 9661, 9672, 9684, 9704, 9704, 9742, 9767, np.nan,
         np.nan, np.nan, 9825, 9866, np.nan, 9866, 9866, 9906, 9906, np.nan, 17, 30, np.nan, 39, 61, 69, 69, 102, 180,
         365, 365, 386, 484, 486, np.nan, 486, 501, np.nan, 
         588, 652, 672, 672, np.nan, 696, 
         720, 759, 775, 786, 792, 798, 808, 
         930, 930, 
         1099, 
         1164, 1169, 1226, 1261, 1263, 1302, 1353, 
         1402, 1402, 1429, 1429, 1476, 1482, 1504, 1515, 1520, 1520, 1520, np.nan, 1577,
         1692, 1719, 1748, 1745, 1777, np.nan, 1936, 
         1936, 1944, 1976, 1990, 
         2365, 2434, 
         2473, 
         2673]

In [13]:
data = {col1: years,
        col2: start,
        col3: event_max,
        col4: proton_flux,
        col5: associated_cme,
        col6: flare_max,
        col7: importance,
        col8: location,
        col9: region}

In [14]:
sep = pd.DataFrame(data, columns = [col1,col2,col3,col4,col5,col6,col7,col8,col9])

In [15]:
custom_df = 'C:/Users/Peter/py_projects/solar_stats/custom_df.p'
df = pd.read_pickle(custom_df)

In [16]:
# Need to convert each column to the wanted datatype
test = sep.copy()

In [17]:
# dates and times
from datetime import datetime as dt

In [18]:
df.cme_time.dtype

dtype('<M8[ns]')

In [19]:
x = test.start.iloc[1]
x

'Nov 06/1305'

In [20]:
my_date = dt.strptime(x, "%b %d/%H%M")
my_date

datetime.datetime(1900, 11, 6, 13, 5)

In [21]:
# Going to combine the year column with the other date columns
print(sep.year.isnull().sum())
print(sep.start.isnull().sum())
print(sep.event_max.isnull().sum())
print(sep.flare_max.isnull().sum())

0
0
0
17

In [22]:
# start dates
test['start'] = test.year.astype(str) + ' ' + test.start

In [23]:
# Entry 59 had May 1775 inputted in the start column
test

,year,start,event_max,proton_flux,associated_cme,flare_max,importance,location,region
0,1997,1997 Nov 04/0830,Nov 04/1120,72,W/04 0610,Nov 04/0558,X2/2B,S14W33,8100
1,1997,1997 Nov 06/1305,Nov 07/0255,490,W/06 1300,Nov 06/1155,X9/2B,S18W63,8100
2,1998,1998 Apr 20/1400,Apr 21/1205,1700,W/20 1007,Apr 20/1021,M1/EPL,S43W90,8194
3,1998,1998 May 02/1420,May 02/1650,150,Halo/02 1406,May 02/1342,X1/3B,S15W15,8210
4,1998,1998 May 06/0845,May 06/0945,210,W/06 0829,May 06/0809,X2/1N,S11W65,8210
...,...,...,...,...,...,...,...,...,...
124,2014,2014 Feb 25/1355,Feb 28/0845,103,SE/25 0130,Feb 25/0049,X4/2B,S12E82,1990
125,2015,2015 Jun 18/1135,Jun 18/1445,16,SW/18 0125,Jun 18/0127,M1.3,S13W102,2365
126,2015,2015 Oct 29/0550,Oct 29/1000,23,SW/29 0236,NaN,NaN,NaN,2434
127,2016,2016 Jan 02/0430,Jan 02/0450,21,SW/02 2324,Jan 02/0011,M2.0,S21W73,2473
128,2017,2017 Sep 05/0751,Sep 05/1930,210,SW/04 2048,Sep 04/2033,M5.0,S08W16,2673

In [24]:
start_dates = np.zeros(len(test.start))
start_dates = start_dates.astype('O')

In [25]:
for i in range(len(start_dates)):
    #start_dates[i] = dt.strptime(test.start.iloc[i], "%Y %b %d/%H%M")
    start_dates[i] = pd.to_datetime(test.start.iloc[i], format="%Y %b %d/%H%M", errors='ignore')

In [26]:
test['start_dates'] = start_dates

In [27]:
pd.set_option('display.max_rows', 10)
test

,year,start,event_max,proton_flux,associated_cme,flare_max,importance,location,region,start_dates
0,1997,1997 Nov 04/0830,Nov 04/1120,72,W/04 0610,Nov 04/0558,X2/2B,S14W33,8100,1997-11-04 08:30:00
1,1997,1997 Nov 06/1305,Nov 07/0255,490,W/06 1300,Nov 06/1155,X9/2B,S18W63,8100,1997-11-06 13:05:00
2,1998,1998 Apr 20/1400,Apr 21/1205,1700,W/20 1007,Apr 20/1021,M1/EPL,S43W90,8194,1998-04-20 14:00:00
3,1998,1998 May 02/1420,May 02/1650,150,Halo/02 1406,May 02/1342,X1/3B,S15W15,8210,1998-05-02 14:20:00
4,1998,1998 May 06/0845,May 06/0945,210,W/06 0829,May 06/0809,X2/1N,S11W65,8210,1998-05-06 08:45:00
...,...,...,...,...,...,...,...,...,...,...
124,2014,2014 Feb 25/1355,Feb 28/0845,103,SE/25 0130,Feb 25/0049,X4/2B,S12E82,1990,2014-02-25 13:55:00
125,2015,2015 Jun 18/1135,Jun 18/1445,16,SW/18 0125,Jun 18/0127,M1.3,S13W102,2365,2015-06-18 11:35:00
126,2015,2015 Oct 29/0550,Oct 29/1000,23,SW/29 0236,NaN,NaN,NaN,2434,2015-10-29 05:50:00
127,2016,2016 Jan 02/0430,Jan 02/0450,21,SW/02 2324,Jan 02/0011,M2.0,S21W73,2473,2016-01-02 04:30:00
128,2017,2017 Sep 05/0751,Sep 05/1930,210,SW/04 2048,Sep 04/2033,M5.0,S08W16,2673,2017-09-05 07:51:00

In [28]:
# event max dates
test['event_max'] = test.year.astype(str) + ' ' + test.event_max

In [29]:
test

,year,start,event_max,proton_flux,associated_cme,flare_max,importance,location,region,start_dates
0,1997,1997 Nov 04/0830,1997 Nov 04/1120,72,W/04 0610,Nov 04/0558,X2/2B,S14W33,8100,1997-11-04 08:30:00
1,1997,1997 Nov 06/1305,1997 Nov 07/0255,490,W/06 1300,Nov 06/1155,X9/2B,S18W63,8100,1997-11-06 13:05:00
2,1998,1998 Apr 20/1400,1998 Apr 21/1205,1700,W/20 1007,Apr 20/1021,M1/EPL,S43W90,8194,1998-04-20 14:00:00
3,1998,1998 May 02/1420,1998 May 02/1650,150,Halo/02 1406,May 02/1342,X1/3B,S15W15,8210,1998-05-02 14:20:00
4,1998,1998 May 06/0845,1998 May 06/0945,210,W/06 0829,May 06/0809,X2/1N,S11W65,8210,1998-05-06 08:45:00
...,...,...,...,...,...,...,...,...,...,...
124,2014,2014 Feb 25/1355,2014 Feb 28/0845,103,SE/25 0130,Feb 25/0049,X4/2B,S12E82,1990,2014-02-25 13:55:00
125,2015,2015 Jun 18/1135,2015 Jun 18/1445,16,SW/18 0125,Jun 18/0127,M1.3,S13W102,2365,2015-06-18 11:35:00
126,2015,2015 Oct 29/0550,2015 Oct 29/1000,23,SW/29 0236,NaN,NaN,NaN,2434,2015-10-29 05:50:00
127,2016,2016 Jan 02/0430,2016 Jan 02/0450,21,SW/02 2324,Jan 02/0011,M2.0,S21W73,2473,2016-01-02 04:30:00
128,2017,2017 Sep 05/0751,2017 Sep 05/1930,210,SW/04 2048,Sep 04/2033,M5.0,S08W16,2673,2017-09-05 07:51:00

In [30]:
event_dates = np.zeros(len(test.event_max))
event_dates = event_dates.astype('O')
for i in range(len(event_dates)):
    event_dates[i] = pd.to_datetime(test.event_max.iloc[i], format="%Y %b %d/%H%M", errors='ignore')

In [31]:
test['event_dates'] = event_dates

In [32]:
test

,year,start,event_max,proton_flux,associated_cme,flare_max,importance,location,region,start_dates,event_dates
0,1997,1997 Nov 04/0830,1997 Nov 04/1120,72,W/04 0610,Nov 04/0558,X2/2B,S14W33,8100,1997-11-04 08:30:00,1997-11-04 11:20:00
1,1997,1997 Nov 06/1305,1997 Nov 07/0255,490,W/06 1300,Nov 06/1155,X9/2B,S18W63,8100,1997-11-06 13:05:00,1997-11-07 02:55:00
2,1998,1998 Apr 20/1400,1998 Apr 21/1205,1700,W/20 1007,Apr 20/1021,M1/EPL,S43W90,8194,1998-04-20 14:00:00,1998-04-21 12:05:00
3,1998,1998 May 02/1420,1998 May 02/1650,150,Halo/02 1406,May 02/1342,X1/3B,S15W15,8210,1998-05-02 14:20:00,1998-05-02 16:50:00
4,1998,1998 May 06/0845,1998 May 06/0945,210,W/06 0829,May 06/0809,X2/1N,S11W65,8210,1998-05-06 08:45:00,1998-05-06 09:45:00
...,...,...,...,...,...,...,...,...,...,...,...
124,2014,2014 Feb 25/1355,2014 Feb 28/0845,103,SE/25 0130,Feb 25/0049,X4/2B,S12E82,1990,2014-02-25 13:55:00,2014-02-28 08:45:00
125,2015,2015 Jun 18/1135,2015 Jun 18/1445,16,SW/18 0125,Jun 18/0127,M1.3,S13W102,2365,2015-06-18 11:35:00,2015-06-18 14:45:00
126,2015,2015 Oct 29/0550,2015 Oct 29/1000,23,SW/29 0236,NaN,NaN,NaN,2434,2015-10-29 05:50:00,2015-10-29 10:00:00
127,2016,2016 Jan 02/0430,2016 Jan 02/0450,21,SW/02 2324,Jan 02/0011,M2.0,S21W73,2473,2016-01-02 04:30:00,2016-01-02 04:50:00
128,2017,2017 Sep 05/0751,2017 Sep 05/1930,210,SW/04 2048,Sep 04/2033,M5.0,S08W16,2673,2017-09-05 07:51:00,2017-09-05 19:30:00

In [33]:
# flare max dates ---> there are some nans here
sep.flare_max.isnull().sum()

17

In [34]:
test['flare_max'] = test.year.astype(str) + ' ' + test.flare_max

In [35]:
flare_dates = np.zeros(len(test.flare_max))
flare_dates = flare_dates.astype('O')

In [38]:
for i in range(len(flare_dates)):
    flare_dates[i] = pd.to_datetime(test.flare_max.iloc[i], format="%Y %b %d/%H%M", errors='ignore')

In [39]:
test['flare_dates'] = flare_dates

In [42]:
# proton flux to float
test.proton_flux = test.proton_flux.astype(float)

In [45]:
# making a new df
data2 = {col1: years,
        col2: start_dates,
        col3: event_dates,
        col4: proton_flux,
        col5: associated_cme,
        col6: flare_dates,
        col7: importance,
        col8: location,
        col9: region}

In [48]:
sep2 = pd.DataFrame(data2, columns = [col1,col2,col3,col4,col5,col6,col7,col8,col9])

In [49]:
sep2

,year,start,event_max,proton_flux,associated_cme,flare_max,importance,location,region
0,1997,1997-11-04 08:30:00,1997-11-04 11:20:00,72,W/04 0610,1997-11-04 05:58:00,X2/2B,S14W33,8100
1,1997,1997-11-06 13:05:00,1997-11-07 02:55:00,490,W/06 1300,1997-11-06 11:55:00,X9/2B,S18W63,8100
2,1998,1998-04-20 14:00:00,1998-04-21 12:05:00,1700,W/20 1007,1998-04-20 10:21:00,M1/EPL,S43W90,8194
3,1998,1998-05-02 14:20:00,1998-05-02 16:50:00,150,Halo/02 1406,1998-05-02 13:42:00,X1/3B,S15W15,8210
4,1998,1998-05-06 08:45:00,1998-05-06 09:45:00,210,W/06 0829,1998-05-06 08:09:00,X2/1N,S11W65,8210
...,...,...,...,...,...,...,...,...,...
124,2014,2014-02-25 13:55:00,2014-02-28 08:45:00,103,SE/25 0130,2014-02-25 00:49:00,X4/2B,S12E82,1990
125,2015,2015-06-18 11:35:00,2015-06-18 14:45:00,16,SW/18 0125,2015-06-18 01:27:00,M1.3,S13W102,2365
126,2015,2015-10-29 05:50:00,2015-10-29 10:00:00,23,SW/29 0236,NaT,NaN,NaN,2434
127,2016,2016-01-02 04:30:00,2016-01-02 04:50:00,21,SW/02 2324,2016-01-02 00:11:00,M2.0,S21W73,2473
128,2017,2017-09-05 07:51:00,2017-09-05 19:30:00,210,SW/04 2048,2017-09-04 20:33:00,M5.0,S08W16,2673

In [50]:
# saving to a df
sep2.to_pickle('custom_sep.p')

In [51]:
# Testing the save
df2 = 'C:/Users/Peter/py_projects/solar_stats/custom_sep.p'
t3 = pd.read_pickle(df2)
t3

,year,start,event_max,proton_flux,associated_cme,flare_max,importance,location,region
0,1997,1997-11-04 08:30:00,1997-11-04 11:20:00,72,W/04 0610,1997-11-04 05:58:00,X2/2B,S14W33,8100
1,1997,1997-11-06 13:05:00,1997-11-07 02:55:00,490,W/06 1300,1997-11-06 11:55:00,X9/2B,S18W63,8100
2,1998,1998-04-20 14:00:00,1998-04-21 12:05:00,1700,W/20 1007,1998-04-20 10:21:00,M1/EPL,S43W90,8194
3,1998,1998-05-02 14:20:00,1998-05-02 16:50:00,150,Halo/02 1406,1998-05-02 13:42:00,X1/3B,S15W15,8210
4,1998,1998-05-06 08:45:00,1998-05-06 09:45:00,210,W/06 0829,1998-05-06 08:09:00,X2/1N,S11W65,8210
...,...,...,...,...,...,...,...,...,...
124,2014,2014-02-25 13:55:00,2014-02-28 08:45:00,103,SE/25 0130,2014-02-25 00:49:00,X4/2B,S12E82,1990
125,2015,2015-06-18 11:35:00,2015-06-18 14:45:00,16,SW/18 0125,2015-06-18 01:27:00,M1.3,S13W102,2365
126,2015,2015-10-29 05:50:00,2015-10-29 10:00:00,23,SW/29 0236,NaT,NaN,NaN,2434
127,2016,2016-01-02 04:30:00,2016-01-02 04:50:00,21,SW/02 2324,2016-01-02 00:11:00,M2.0,S21W73,2473
128,2017,2017-09-05 07:51:00,2017-09-05 19:30:00,210,SW/04 2048,2017-09-04 20:33:00,M5.0,S08W16,2673